.venv
uploads/
audio_segments/
__pycache__/
*.pyc
instance/
.env*
.DS_Store
.ropeproject
.idea/
.vscode/
*.sqlite3
*.log
coverage/
htmlcov/
.pytest_cache/
migrations/
*.egg-info/
dist/
build/
*.bak
*.swp
*.tmp
*.old
*.orig
*.reject
*.swo
*.class
*.jar
*.war
*.ear
*.iml
